  <h3>
    Lista de 
    <small>
      Usuarios
    </small>
  </h3>
  <button class="btn btn-secondary" (click)="nuevo()" >Nuevo</button>
  <chr-lista-errores [errors]="errors"></chr-lista-errores>
  <br>
  <ngx-datatable
    class="bootstrap  fullscreen"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [reorderable]="reorderable">
    <ngx-datatable-column name="idUsuario">
        <ng-template let-column="column" ngx-datatable-header-template>
           Id
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="nombreUsuario">
        <ng-template let-column="column" ngx-datatable-header-template>
            Nombre
         </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Correo"></ngx-datatable-column>
    <ngx-datatable-column name="Direccion"></ngx-datatable-column>
    <ngx-datatable-column name="Accion">
        <ng-template let-column="column" ngx-datatable-header-template>
           Accion
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-secondary" (click)="editar(row)" >Editar</button>
            <button class="btn btn-secondary" (click)="borrar(row)" >Borrar</button>
          </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>