<nav class="navbar navbar-dark bg-secondary navbar-toggleable-md navbar-inverse sticky-top d-flex flex-md-nowrap ">
  <button (click)="menu()" class="navbar-toggler navbar-toggler-right hidden-lg-up" 
        type="button" data-toggle="collapse" 
        data-target="#navbarsExampleDefault" 
        aria-controls="navbarsExampleDefault" 
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="float-right divSalir" >
      <a class="nav-link" style="color:antiquewhite;" (click)="salir()">Salir <i class="fa fa-sign-out"></i></a>
    </div>
</nav>
