 #intro {
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; 
    background-color: #f6f6f6;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
